<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kjs.mapper.LottoMapper">
	<insert id="insertLotto">
		insert into 
		tb_lotto(drw_no, drw_no_date,tot_sellamnt, first_winamnt, first_przwner_co, first_accumamnt, drwt_no1, drwt_no2, drwt_no3, drwt_no4, drwt_no5, drwt_no6, bnus_no) 
		values(#{drwNo}, #{drwNoDate}, #{totSellamnt}, #{firstWinamnt}, #{firstPrzwnerCo}, #{firstAccumamnt}, #{drwtNo1}, #{drwtNo2}, #{drwtNo3}, #{drwtNo4}, #{drwtNo5}, #{drwtNo6}, #{bnusNo});
	</insert>
	
	<select id="getLottoByDrwNo" resultType="kr.kjs.dto.LottoDTO">
		select 
			drw_no drwNo, 
			drw_no_date drwNoDate, 
			first_winamnt firstWinamnt, 
			first_przwner_co firstPrzwnerCo, 
			first_accumamnt firstAccumamnt, 
			tot_sellamnt totSellamnt, 
			drwt_no1 drwtNo1, 
			drwt_no2 drwtNo2, 
			drwt_no3 drwtNo3, 
			drwt_no4 drwtNo4, 
			drwt_no5 drwtNo5, 
			drwt_no6 drwtNo6, 
			bnus_no bnusNo
		from 
			tb_lotto
		where
			drw_no=${drwNo}
	</select>
</mapper>