<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kjs.mapper.LottoMapper">
	<insert id="insertLotto">
		insert into 
			tb_lotto(
				drw_no, 
				drw_no_date,
				tot_sellamnt, 
				first_winamnt,
				first_przwner_co, 
				first_accumamnt, 
				drwt_no1, 
				drwt_no2, 
				drwt_no3, 
				drwt_no4, 
				drwt_no5, 
				drwt_no6, 
				bnus_no) 
			values(
				#{drwNo}, 
				#{drwNoDate}, 
				#{totSellamnt}, 
				#{firstWinamnt}, 
				#{firstPrzwnerCo}, 
				#{firstAccumamnt}, 
				#{drwtNo1}, 
				#{drwtNo2}, 
				#{drwtNo3}, 
				#{drwtNo4}, 
				#{drwtNo5}, 
				#{drwtNo6}, 
				#{bnusNo});
	</insert>
	
	<select id="getLottoByDrwNo" resultType="kr.kjs.dto.LottoDTO">
		select 
			drw_no drwNo, 
			drw_no_date drwNoDate, 
			first_winamnt firstWinamnt, 
			first_przwner_co firstPrzwnerCo, 
			first_accumamnt firstAccumamnt, 
			tot_sellamnt totSellamnt, 
			drwt_no1 drwtNo1, 
			drwt_no2 drwtNo2, 
			drwt_no3 drwtNo3, 
			drwt_no4 drwtNo4, 
			drwt_no5 drwtNo5, 
			drwt_no6 drwtNo6, 
			bnus_no bnusNo
		from 
			tb_lotto
		where
			drw_no=${drwNo}
	</select>
	
	<select id="getLottoByDate" resultType="kr.kjs.dto.LottoDTO">
		select 
			drw_no drwNo, 
			drw_no_date drwNoDate, 
			first_winamnt firstWinamnt, 
			first_przwner_co firstPrzwnerCo, 
			first_accumamnt firstAccumamnt, 
			tot_sellamnt totSellamnt, 
			drwt_no1 drwtNo1, 
			drwt_no2 drwtNo2, 
			drwt_no3 drwtNo3, 
			drwt_no4 drwtNo4, 
			drwt_no5 drwtNo5, 
			drwt_no6 drwtNo6, 
			bnus_no bnusNo
		from 
			tb_lotto
		where
			drw_no_date = DATE_ADD(
							#{searchDate},
							INTERVAL -mod(DAYOFWEEK(#{searchDate}),
							7) day)
	</select>
	
	<select id="getLottoList" resultType="kr.kjs.dto.LottoDTO">
		select 
				drw_no drwNo, 
				drw_no_date drwNoDate, 
				first_winamnt firstWinamnt, 
				first_przwner_co firstPrzwnerCo, 
				first_accumamnt firstAccumamnt, 
				tot_sellamnt totSellamnt, 
				drwt_no1 drwtNo1, 
				drwt_no2 drwtNo2, 
				drwt_no3 drwtNo3, 
				drwt_no4 drwtNo4, 
				drwt_no5 drwtNo5, 
				drwt_no6 drwtNo6, 
				bnus_no bnusNo
			from 
				tb_lotto
	</select>
	
	
	<select id="getLastDrwNo" resultType="int">
		select max(drw_no) drwNo from tb_lotto; 
	</select>
	
	<select id="getLottoStatList" resultType="kr.kjs.dto.LottoStat">
		select 
			drwt_no drwtNo,
			count(*) count
		from 
			tb_lotto_stat
		<choose>
			<when test="orCondition.size()!=0 || andCondition.size()!=0">
				where
			</when>
		</choose>
			<choose>
			<when test="orCondition.size()!=0">
			drw_no in(
			select distinct drw_no from tb_lotto_tag
			where 
				tag_seq in
			 
			<foreach collection="orCondition" item="item" index="index" separator="," open="(" close=")">
				#{item}
		    </foreach>)
		    	<choose>
		    		<when test="andCondition.size()!=0">
		    			and
		    		</when>
		    	</choose>
			</when>
			</choose>
			
			<choose>
			<when test="andCondition.size()!=0">
				<foreach collection="andCondition" item="item" index="index" separator="and" >
					drw_no  in( select distinct drw_no from tb_lotto_tag where tag_seq = #{item} )
			    </foreach>
			 </when>
			</choose>
			
		group by
			drwt_no 
		order by 
			drwt_no
	</select>
	
	<insert id="insertTag">
	  	insert into tb_tag(tag_name) values(#{tagName})
	</insert>
	
	<select id="getTagList" resultType="kr.kjs.dto.TagSimpleInfo">
		select
			tag_seq tagSeq,
			tag_name tagName
		from 
			tb_tag
	</select>
	
	
	<insert id="insertLottoTag">
		insert into 
			tb_lotto_tag(
				tag_seq,
				drw_no) 
			values(
				#{tagSesq},
				#{drwNo})
	</insert>
	
	<select id="getLottoTagList" resultType="String">
		select 
			drw_no
		from
			tb_lotto_tag
		where 
			tag_seq = #{tagSeq}
	</select>
	
	<update id="modifyTagName">
		update 
			tb_tag 
		set 
			tag_name = #{tagName} 
		where 
			tag_seq = #{tagSeq}
	</update>
	
	<delete id="deleteTag">
		delete
		from
			tb_tag
		where 
			tag_seq = #{tagSeq}
	</delete>
	
	<delete id="deleteLottoTag">
		delete
		from
			tb_lotto_tag
		where 
			tag_seq= #{tagSeq}
	</delete>
	
	<select id="getLottoSimulationList" resultType="kr.kjs.dto.LottoSimulationDTO">
		select 
			drw_no drwNo, 
			drw_no_date drwNoDate, 
			first_winamnt firstWinamnt, 
			first_przwner_co firstPrzwnerCo, 
			first_accumamnt firstAccumamnt, 
			tot_sellamnt totSellamnt, 
			drwt_no1 drwtNo1, 
			drwt_no2 drwtNo2, 
			drwt_no3 drwtNo3, 
			drwt_no4 drwtNo4, 
			drwt_no5 drwtNo5, 
			drwt_no6 drwtNo6, 
			bnus_no bnusNo,
			case 
				when cnt=5 and bnus_no in 
				<foreach collection="search" item="item" index="index" separator="," open="(" close=")">
					#{item}
		    	</foreach>
			
				then '2등'
			    when cnt=6 then '1등'
			    when cnt=5 then '3등'
			    when cnt=4 then '4등'
			    end rank
		 from(
			select drw_no drwNo,count(*) cnt from tb_lotto_stat where drwt_no in 
				<foreach collection="search" item="item" index="index" separator="," open="(" close=")">
					#{item}
		    	</foreach> group by drw_no) as tb
			join tb_lotto on drw_no = drwNo 
		where 
			cnt>3
		order by 
			rank asc,
			drw_no desc;
	</select>
</mapper>